* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Regular */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
} */

/* Regular Italic */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
} */

/* Light */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
} */

/* Light Italic */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
} */

/* Medium */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
} */

/* Medium Italic */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
} */

/* SemiBold */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
} */

/* SemiBold Italic */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
} */

/* Bold */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
} */

/* Bold Italic */
/* @font-face {
  font-family: "Goia";
  src: url("../assets/fonts/Goia-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
} */

body {
  font-family: "Goia", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-black-color);
}

@media (max-width: 767px) {
  body {
    padding-top: 80px
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
    
a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #7DA6D7;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90.03deg, #2E8DFF 0.02%, #7DA6D7 116.31%);
}